<section
  class="d-flex flex-row justify-content-around align-items-center border-bottom text-shadow text-center min-vh-10"
>
  <article class="d-flex flex-column px-2">
    <p class="display-lg-7">{{ weather.zonedDate | date : "M/d" }}</p>
    <small>{{ weather.zonedDate | date : "EEEEEE" }}</small>
  </article>

  <img [src]="weather.iconUrl" style="max-width: 50px" />
  <!-- <small>{{ weather.mainDescription }}</small> -->

  <article class="d-flex flex-column px-2">
    <p class="display-lg-7">
      {{
        tempUnit === "f"
          ? (weather.tempHighF | number : "1.0-0")
          : (weather.tempHighC | number : "1.0-0")
      }}
    </p>
    <small>High</small>
  </article>
  <article class="d-flex flex-column px-2">
    <p class="display-lg-7">
      {{
        tempUnit === "f"
          ? (weather.tempLowF | number : "1.0-0")
          : (weather.tempLowC | number : "1.0-0")
      }}
    </p>
    <small>Low</small>
  </article>
  <article class="d-flex flex-column px-2">
    <p class="display-lg-7">{{ weather.humidity }} %</p>
    <small>Humidity</small>
  </article>
</section>
