<div class="blur padding">
  <form (ngSubmit)="search()">
    <div class="form-group">
      <div class="d-flex">
        <input
          class="textbar display-6"
          style="width: 450px"
          type="text"
          id="searchLocation"
          placeholder="Enter location..."
          [formControl]="searchFormControl"
          [ngbTypeahead]="autoComplete"
          [resultFormatter]="formatter"
          [inputFormatter]="formatter"
          [editable]="false"
          (selectItem)="onSelect($event)"
        />
        <button type="submit" class="btn btn-lg bi-search px-4"></button>
      </div>
    </div>
  </form>
  <hr />
  <div class="heading">Past Locations</div>
  <div class="d-flex flex-row">
    <ng-container
      *ngFor="
        let previousLocation of localStorageService.mostRecentLocalStorage
          | async;
        index as i
      "
    >
      <button
        type="button"
        class="pill-button"
        (click)="researchLocation(previousLocation)"
      >
        {{ previousLocation.city | titlecase }}
      </button>
    </ng-container>
  </div>
  <hr />
  <div class="heading">Weather Details</div>
  <div class="row">
    <div class="box">
      <p class="upper-text">
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.sunrise
            | date : "shortTime"
        }}
      </p>
      <p class="lower-text">Sunrise</p>
    </div>
    <div class="box">
      <p class="upper-text">
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.sunset
            | date : "shortTime"
        }}
      </p>
      <p class="lower-text">Sunset</p>
    </div>
    <div class="box">
      <p class="upper-text">
        {{
          tempUnit === "f"
            ? ((weatherStateService.mostRecentWeather | async)?.current
                ?.feelsLike | number : "1.0-0")
            : (((weatherStateService.mostRecentWeather | async)?.current
                ?.feelsLike! -
                32) *
                (5 / 9) | number : "1.0-0")
        }}
        <span *ngIf="(weatherStateService.mostRecentWeather | async)?.current">
          °</span
        >
      </p>

      <p class="lower-text">Feels Like</p>
    </div>
    <div class="box">
      <p class="upper-text">
        {{ (weatherStateService.mostRecentWeather | async)?.current?.humidity
        }}<span
          *ngIf="(weatherStateService.mostRecentWeather | async)?.current"
        >
          %</span
        >
      </p>
      <p class="lower-text">Humidity</p>
    </div>
    <div class="box">
      <p class="upper-text">
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.windSpeed
            | number : "1.0-0"
        }}<span
          *ngIf="(weatherStateService.mostRecentWeather | async)?.current"
        >
          mph</span
        >
      </p>
      <p class="lower-text">Wind</p>
    </div>
  </div>
  <hr />
  <div class="heading">Next 5 days</div>
  <div>
    <ng-container
      *ngFor="
        let weather of (weatherStateService.mostRecentWeather | async)?.daily;
        index as i
      "
    >
      <app-weather-data-daily
        [weather]="weather"
        [tempUnit]="tempUnit"
      ></app-weather-data-daily>
    </ng-container>
  </div>
</div>
