* {
  color: rgba(255, 255, 255, 0.9);
}
.heading {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px #4e4e4e;
}

input[type="text"] {
  color: rgba(255, 255, 255, 0.9);
}

::placeholder {
  color: rgba(111, 111, 111, 0.5);
  opacity: 1;
}
.blur {
  background-color: rgba(3, 30, 73, 0.25);
  backdrop-filter: blur(10px);
}

.padding {
  padding: 24px;
}

input,
input:valid {
  background-color: transparent;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 12.75px;
}

.box {
  width: 18%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

p {
  margin: 0;
}

.upper-text {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 300;
}

.lower-text {
  font-size: 1rem;
  font-weight: 200;
}

.pill-button {
  background-color: #ddd;
  box-shadow: 2px 2px 4px #4e4e4e;
  border: none;
  color: black;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  margin: 6px 3px;
  cursor: pointer;
  border-radius: 2rem;
}
