.blur {
  backdrop-filter: blur(10px);
}

.padding {
  padding: 24px;
}

input,
input:valid {
  background-color: transparent;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
