<div class="blur padding h-100">
  <form (ngSubmit)="search()">
    <div class="form-group pt-3">
      <div class="d-flex">
        <input
          class="textbar display-6"
          style="width: 450px"
          type="text"
          id="searchLocation"
          placeholder="Enter location..."
          [formControl]="searchFormControl"
          [ngbTypeahead]="autoComplete"
          [resultFormatter]="formatter"
          [inputFormatter]="formatter"
          [editable]="false"
          (selectItem)="onSelect($event)"
        />
        <button type="submit" class="btn btn-lg bi-search px-4"></button>
      </div>
    </div>
  </form>
  <hr />
  <div class="display-6 pb-4">Past Locations</div>
  <ng-container
    *ngFor="
      let previousLocation of localStorageService.mostRecentLocalStorage
        | async;
      index as i
    "
  >
    <div class="p-2">
      <button
        type="button"
        class="btn btn btn-secondary btn-md p-2"
        (click)="researchLocation(previousLocation)"
      >
        {{ previousLocation | titlecase }}
      </button>
    </div>
  </ng-container>
  <hr />
  <div class="display-6 pb-4">Weather Details</div>
  <div class="container d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <span>Feels like</span>
      <div class="w-50">
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.feelsLike
            | number : "1.0-0"
        }}°
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
      <span>UV Index</span>
      <div class="w-50">
        {{ (weatherStateService.mostRecentWeather | async)?.current?.uvIndex }}
      </div>
    </div>
  </div>
  <hr />
  <div class="display-6 pb-4">Next 5 days</div>
  <div class="container d-flex flex-column justify-content-between h-25">
    <ng-container
      *ngFor="
        let weather of (weatherStateService.mostRecentWeather | async)?.daily
          | slice : 1 : 6;
        index as i
      "
    >
      <app-weather-data-row [weather]="weather"></app-weather-data-row>
    </ng-container>
  </div>
</div>
