<div class="blur padding h-100">
  <form>
    <div class="form-group p-3">
      <div class="d-flex p-3">
        <input
          class="form-control"
          type="text"
          id="searchLocation"
          placeholder="Enter location..."
          [formControl]="searchFormControl"
        />
        <button type="button" class="btn btn-success btn-md" (click)="search()">
          Search for the weather
        </button>
      </div>
    </div>
  </form>
  <div class="display-6 pb-4">Past Locations</div>
  <hr />
  <div class="display-6 pb-4">Weather Details</div>
  <div class="container d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
      <span>Feels like</span>
      <span>
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.feelsLike
        }}°
      </span>
    </div>
    <div class="d-flex flex-row">
      <span>UV Index</span>
      <span>
        {{ (weatherStateService.mostRecentWeather | async)?.current?.uvIndex }}
      </span>
    </div>
  </div>
  <hr />
  <div class="display-6 pb-4">Next 5 days</div>
  <div class="container d-flex flex-column justify-content-between h-50">
    <ng-container
      *ngFor="
        let weather of (weatherStateService.mostRecentWeather | async)?.daily
          | slice: 1:6;
        index as i
      "
    >
      <app-weather-data-row [weather]="weather"></app-weather-data-row>
    </ng-container>
  </div>
</div>
