<div class="d-flex flex-row justify-content-between h-100 w-100">
  <div class="padding d-flex flex-column w-75">
    <h6 class="h-50">my_weather_forecast</h6>

    <div class="d-flex flex-column">
      <!-- City -->
      <div class="heading">
        {{ (geocodeStateService.mostRecentSearch | async)?.city }}
      </div>
      <!-- Date -->
      <div class="h-50 sub-heading">
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.zonedDate
            | date : "fullDate"
        }}
      </div>
      <!-- TIME  -->
      <div class="h-50 sub-heading">
        {{
          (weatherStateService.mostRecentWeather | async)?.current?.zonedDate
            | date : "mediumTime"
        }}
      </div>
    </div>
    <!-- Weather Icon and Description -->
    <div class="d-flex flex-row">
      <div class="box icon-padding">
        <div
          *ngIf="
            (weatherStateService.mostRecentWeather | async)?.current
              ?.mainDescription
          "
        >
          <img
            [src]="
              (weatherStateService.mostRecentWeather | async)?.current?.iconUrl
            "
          />
        </div>
        <div class="content">
          {{
            (weatherStateService.mostRecentWeather | async)?.current
              ?.mainDescription
          }}
        </div>
      </div>
      <!-- Temperature -->
      <div
        class="box"
        *ngIf="
          (weatherStateService.mostRecentWeather | async)?.current?.temperature
        "
      >
        <div class="temp">
          {{
            (weatherStateService.mostRecentWeather | async)?.current
              ?.temperature | number : "1.0-0"
          }}°
        </div>
      </div>
      <!-- F/C Button -->
      <div class="temp-unit-box">
        <button
          type="button"
          (click)="toggleUnit('f')"
          [disabled]="tempUnit === 'f'"
        >
          F
        </button>
        <button
          type="button"
          (click)="toggleUnit('c')"
          [disabled]="tempUnit === 'c'"
        >
          C
        </button>
      </div>
    </div>
  </div>
  <app-side-bar></app-side-bar>
</div>
